/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/easymatr7_17052024.sql.gz
/public/easymat-tressol.sql.gz
/public/easymat-nomblot.sql.gz
/public/easymat-demo.sql.gz
/public/easymat-deluc.sql.gz
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
